# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
!QXCommMngr/src/backEnd/QXCommMngr/src/main/resources/lib/*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# specialized
QXServer/src/build/*
utils/build/*
third_party/*/build/*
.vscode/*
SCShare/build/*
QXClient/src/build/*
